<div class="container">
  <br>
  <div class="flex-box blog-box">
    <div class="blog-content">
      <h2>{{title}}</h2>
      <p>{{description}}</p>
      <h3><span>posted by: </span></h3>
      <h3>{{user.name}}</h3>
      <p>
        <address>
            <a href="mailto:{{user.email}}"><button class="btn btn-primary">Email</button></a>
        </address>
      </p>
    </div>
 </div>